<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>PLaying with Nyan Cat</title>

    <style>
      * {
        padding: 0;
        margin: 0;
      }
      canvas {
        background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/67401945-34fc-46b8-8e8f-1982847277d4/ddba22b-2fad9d00-1d3f-4ec8-a65d-199a09dfa4e1.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY3NDAxOTQ1LTM0ZmMtNDZiOC04ZThmLTE5ODI4NDcyNzdkNFwvZGRiYTIyYi0yZmFkOWQwMC0xZDNmLTRlYzgtYTY1ZC0xOTlhMDlkZmE0ZTEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.p1RcYkkOBXh0fzpoZxaTbE1_xNWLfoLqEZv1_0utuzU");
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>

  <body>
    
    <h1>
      LETS PLAY
    </h1>
  
    
   
    <canvas id="myCanvas" width="471" height="320"></canvas>

    <script>
      var canvas = document.getElementById("myCanvas");

      var ctx = canvas.getContext("2d");

      var ballRadius = 30;

      var x = canvas.width / 2;

      var y = canvas.height - 30;

      var dx = 2;

      var dy = -2;

      var paddleHeight = 10;

      var paddleWidth = 195;

      var paddleX = (canvas.width - paddleWidth) / 2;

      var rightPressed = false;

      var leftPressed = false;

      var brickRowCount = 5;

      var brickColumnCount = 5;

      var brickWidth = 75;

      var brickHeight = 10;

      var brickPadding = 10;

      var brickOffsetTop = 30;

      var brickOffsetLeft = 30;

      var score = 0;

      var lives = 5;

      var bricks = [];

    function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
     ctx.fillStyle = color;
  }

}
      
 

      for (var c = 0; c < brickColumnCount; c++) {
        bricks[c] = [];

        for (var r = 0; r < brickRowCount; r++) {
          bricks[c][r] = { x: 0, y: 0, status: 1 };
        }
      }

      document.addEventListener("keydown", keyDownHandler, false);

      document.addEventListener("keyup", keyUpHandler, false);

      document.addEventListener("mousemove", mouseMoveHandler, false);

      function keyDownHandler(e) {
        if (e.keyCode == 39) {
          rightPressed = true;
        } else if (e.keyCode == 37) {
          leftPressed = true;
        }
      }

      function keyUpHandler(e) {
        if (e.keyCode == 39) {
          rightPressed = false;
        } else if (e.keyCode == 37) {
          leftPressed = false;
        }
      }

      function mouseMoveHandler(e) {
        var relativeX = e.clientX - canvas.offsetLeft;

        if (relativeX > 0 && relativeX < canvas.width) {
          paddleX = relativeX - paddleWidth / 2;
        }
      }

      function collisionDetection() {
        for (var c = 0; c < brickColumnCount; c++) {
          for (var r = 0; r < brickRowCount; r++) {
            var b = bricks[c][r];

            if (b.status == 1) {
              if (
                x > b.x &&
                x < b.x + brickWidth &&
                y > b.y &&
                y < b.y + brickHeight
              ) {
                dy = -dy;

                b.status = 0;

                score++;

                if (score == brickRowCount * brickColumnCount) {
                  alert("YOU WIN, CONGRATS!");

                  document.location.reload();
                }
              }
            }
          }
        }
      }

    
      

      function drawBall() {
        ctx.beginPath();

        ctx.arc(x, y, ballRadius, 10, Math.PI * 2);

        ctx.fillStyle = "red";

        ctx.fill();

        ctx.closePath();
      }

      function drawPaddle() {
        ctx.beginPath();

        ctx.rect(
          paddleX,
          canvas.height - paddleHeight,
          paddleWidth,
          paddleHeight
        );

        ctx.fillStyle = "orange";

        ctx.fill();

        ctx.closePath();
      }

      function drawBricks() {
        for (var c = 0; c < brickColumnCount; c++) {
          for (var r = 0; r < brickRowCount; r++) {
            if (bricks[c][r].status == 1) {
              var brickX = r * (brickWidth + brickPadding) + brickOffsetLeft;

              var brickY = c * (brickHeight + brickPadding) + brickOffsetTop;

              bricks[c][r].x = brickX;

              bricks[c][r].y = brickY;

              ctx.beginPath();

              ctx.rect(brickX, brickY, brickWidth, brickHeight);

              ctx.fillStyle = getRandomColor();

              ctx.fill();

              ctx.closePath();
            }
          }
        }
      }

      function drawScore() {
        ctx.font = "16px Arial";

        ctx.fillStyle = getRandomColor();

        ctx.fillText("Score: " + score, 8, 20);
      }

      function drawLives() {
        ctx.font = "16px Arial";

        ctx.fillStyle = getRandomColor();

        ctx.fillText("Lives: " + lives, canvas.width - 65, 20);
      }

      function draw() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        drawBricks();

        drawBall();

        drawPaddle();

        drawScore();

        drawLives();

      
        collisionDetection();

        if (x + dx > canvas.width - ballRadius || x + dx < ballRadius) {
          dx = -dx;
        }

        if (y + dy < ballRadius) {
          dy = -dy;
        } else if (y + dy > canvas.height - ballRadius) {
          if (x > paddleX && x < paddleX + paddleWidth) {
            dy = -dy;
          } else {
            lives--;

            if (!lives) {
              alert("HAHAHAHA Good Luck Next Time");

              document.location.reload();
            } else {
              x = canvas.width / 2;

              y = canvas.height - 30;

              dx = 3;

              dy = -3;

              paddleX = (canvas.width - paddleWidth) / 2;
            }
          }
        }

        if (rightPressed && paddleX < canvas.width - paddleWidth) {
          paddleX += 7;
        } else if (leftPressed && paddleX > 0) {
          paddleX -= 7;
        }

        x += dx;

        y += dy;

        requestAnimationFrame(draw);
      }

      draw();
     function bigBall()
      {
        
        ballRadius = 50;
        
      }
    function smallBall()
      {
        
        ballRadius = 10;
        
      }
    </script>
    
  <button onclick="bigBall()">Big Ball</button>
     <button onclick="smallBall()">Small Ball</button>
  </body>
</html>
